.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: solid red;
    align-items: center;
    justify-content: center;
}

.card {
    width: 200px;
    border: solid black;
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: gray;
    color: white;

    &:hover {
        opacity: 80%;
        cursor: pointer;
    }

    &__fake-img {
        background: gray;
        width: 100%;
        height: 150px;
    }
}