main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team {
    width: 100vw;
    text-align: center;

    &__title {
        background-color: gray;
        color: greenyellow;
        padding: 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}